<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.BA</key>
	<string>ARS</string>
	<key>.VI</key>
	<string>EUR</string>
	<key>.AX</key>
	<string>AUD</string>
	<key>.SA</key>
	<string>BRL</string>
	<key>.TO</key>
	<string>CAD</string>
	<key>.V</key>
	<string>CAD</string>
	<key>.SN</key>
	<string>CLP</string>
	<key>.SS</key>
	<string>CLP</string>
	<key>.SZ</key>
	<string>CLP</string>
	<key>.CO</key>
	<string>DKK</string>
	<key>.NX</key>
	<string>EUR</string>
	<key>.PA</key>
	<string>EUR</string>
	<key>.BE</key>
	<string>EUR</string>
	<key>.BM</key>
	<string>EUR</string>
	<key>.DU</key>
	<string>EUR</string>
	<key>.F</key>
	<string>EUR</string>
	<key>.HM</key>
	<string>EUR</string>
	<key>.HA</key>
	<string>EUR</string>
	<key>.MU</key>
	<string>EUR</string>
	<key>.SG</key>
	<string>EUR</string>
	<key>.DE</key>
	<string>EUR</string>
	<key>.HK</key>
	<string>HKD</string>
	<key>.BO</key>
	<string>INR</string>
	<key>.NS</key>
	<string>INR</string>
	<key>..JK</key>
	<string>IDR</string>
	<key>.TA</key>
	<string>ILS</string>
	<key>.MI</key>
	<string>EUR</string>
	<key>.MX</key>
	<string>MXN</string>
	<key>.AS</key>
	<string>EUR</string>
	<key>.NZ</key>
	<string>NZD</string>
	<key>.OL</key>
	<string>NOK</string>
	<key>.SI</key>
	<string>SGD</string>
	<key>.KS</key>
	<string>KRW</string>
	<key>.KQ</key>
	<string>KRW</string>
	<key>.BC</key>
	<string>EUR</string>
	<key>.BI</key>
	<string>EUR</string>
	<key>.MF</key>
	<string>EUR</string>
	<key>.MC</key>
	<string>EUR</string>
	<key>.MA</key>
	<string>EUR</string>
	<key>.ST</key>
	<string>SEK</string>
	<key>.SW</key>
	<string>CHF</string>
	<key>.TWO</key>
	<string>TWD</string>
	<key>.TW</key>
	<string>TWD</string>
	<key>.L</key>
	<string>GBP</string>
</dict>
</plist>
